extensions:
	roadrunner: Mallgroup\RoadRunner\DI\Extension

services:
	- GuzzleHttp\Psr7\HttpFactory

roadrunner:
	middlewares:
	    - Mallgroup\RoadRunner\Middlewares\TracyMiddleware(%debugMode%)
	    - Mallgroup\RoadRunner\Middlewares\TryCatchMiddleware(%debugMode%)
