extensions:
	roadrunner: Mallgroup\RoadRunner\DI\Extension

roadrunner:
	middlewares:
	    - Mallgroup\RoadRunner\Middlewares\TracyMiddleware(%debugMode%)
	    - Mallgroup\RoadRunner\Middlewares\TryCatchMiddleware(%debugMode%)
